.reviews {
  column-count: 2;
  column-gap: 30px;
  margin-bottom: 40px;
}

.reviews__item{
  margin-bottom: 30px;
}

.review {
  display: inline-flex;
  flex-direction: column;
  padding: 50px 30px 29px;
  background: #F4F5F5;
}

.avatar {
  width: 140px;
  height: 140px;
  overflow: hidden;
  margin-right: 23px;
}

.review__header {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.review__user {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #2E77A4;
  margin-bottom: 11px;
}

.review__user:after {
  content: url(../img/comment/vk-blue.png);
  height: 29px;
  margin-left: 9px;
}

.review__tags {
  display: flex;
  align-items: flex-start;
}

.tag {
  font-size: 13px;
  color: #303030;
  padding: 8px 16px;
  border-radius: 35px;
  background: #E7E7E7;
}

.tag--bg--green {
  background: #B9EAE4;
}

.review__title {
  font-weight: 700;
  font-size: 30px;
  color: #1A1B1E;
  margin-bottom: 13px;
}

.review__content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #818181;
  margin-bottom: 49px;
}

.review__date {
  font-weight: 600;
  font-size: 14px;
  color: #1A1B1E;
}

.paginator__reviews {
  margin-bottom: 90px;
}

.separator {
  background: url(../img/comment/bg-com.png)center top no-repeat ;
  padding-top: 20px;
}

.separator__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.separator__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  width: 50%;
}

.inner-section__comment {
  padding-top: 63px;
  padding-bottom: 100px;
}

.inner-section__comment__title {
  margin-bottom: 56px;
}

.form__row {
  display: flex;
  margin-bottom: 26px;
}

.form__input {
  flex: 1;
  margin-right: 30px;
  border-radius: 4px;
  border: none;
  background: #FFFFFF;
  padding: 22px 30px;
  font-size: 18px;
  color: #1A1B1E;
}

.form__input::placeholder {
  color: #666666;
}

.form__input:last-child {
  margin-right: 0px;
}

.form__input--textarea {
  height: 232px;
  resize: none;
}

.form__controls {
  display: flex;
  margin-bottom: 26px;
}

.form__controls-title {
  width: 38%;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  padding-top: 10px;
}

.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.controls__item {
  list-style-type: none;
  margin-bottom: 10px;
  margin-right: 10px;
}

.controls__elem {
  cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
  background: #B9EAE4;
}

.controls__checkbox {
  display: none;
}

.form__btns {
  display: flex;
  justify-content: flex-end;
}

.btn--color--black {
  background: #8E8E8E;
  color: #FFFFFF;
  margin-right: 20px;
}

.btn--color--black:hover {
  background: #2B2B2B;
}

.form__button {
  color: #FFFFFF;
}
